<div class="header">
    <span class="icon-falling headerIcon"></span>
    <span class="headtxt">still</span>
    <span class="headtxt orange">STANDING</span>

</div>

<div class='currentUser'>    
    <span class="cUserName">{{m.userList[m.cUserIdx].name|tc}}</span> 
    <span class="cUserHeight" ng-show="d.lastDataTime>m.cTime-3000">({{d.height}}m)</span><br>
    <span class="icon-{{m.userList[m.cUserIdx].icon}} bigIcon" ng-class="{red:m.userList[m.cUserIdx].icon=='falling'}"></span>
</div>

<div class="userList">
    <div class="users" ng-repeat="user in m.userList">
        <span class="icon-{{user.icon}} smallIcon" ng-class="{red:user.icon=='falling'}"></span>
        <span class="userTxt">{{user.name|tc}}</span>
        <span class="userTime" ng-show="(m.cTime-user.lastDataTime)/1000<300" ng-class="{orange:(m.cTime-user.lastDataTime)/1000>10,red:(m.cTime-user.lastDataTime)/1000>30}">
            ({{(m.cTime-user.lastDataTime)/1000|int}}s)
        </span>

        <span class="userTime red" ng-show="(m.cTime-user.lastDataTime)/1000>300">(na)</span>

    </div>
</div>


<div class='buttons'>
    <div class="button orange" ng-if="d.mac=='not connected'" ng-click='connect()'>CONNECT</div>
    <div class="button orange" ng-if="d.mac!='not connected'" ng-click='reset()'>RESET</div>
    <div class="button blue" ng-click='changeUser()'>CHANGE USER</div>
    <div class="button green" ng-click='standing()'>STANDING</div>
</div>
<span class="mac">{{d.mac}}</span> 




